<div class="tab-pane" id="configure">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>Column</th>
                    <th>Header</th>
                    <th>Sample</th>
                    <th>Feature</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Store</td>
                        <td>1</td>
                        <td>
                            <select class="form-control">
                                <option>Store</option>
                                <option>Dept</option>
                                <option>Date</option>
                                <option>Type</option>
                                <option>Size</option>
                                <option>Temperature</option>
                                <option>Fuel Price</option>
                                <option>MarkDown1</option>
                                <option>MarkDown2</option>
                                <option>MarkDown3</option>
                                <option>MarkDown4</option>
                                <option>MarkDown5</option>
                                <option>CPI</option>
                                <option>Unemployment</option>
                                <option>IsHoliday</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Type</td>
                        <td>1</td>
                        <td>
                            <select class="form-control">
                                <option>Store</option>
                                <option>Dept</option>
                                <option>Date</option>
                                <option selected>Type</option>
                                <option>Size</option>
                                <option>Temperature</option>
                                <option>Fuel Price</option>
                                <option>MarkDown1</option>
                                <option>MarkDown2</option>
                                <option>MarkDown3</option>
                                <option>MarkDown4</option>
                                <option>MarkDown5</option>
                                <option>CPI</option>
                                <option>Unemployment</option>
                                <option>IsHoliday</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Size</td>
                        <td>151315</td>
                        <td>
                            <select class="form-control">
                                <option>Store</option>
                                <option>Dept</option>
                                <option>Date</option>
                                <option>Type</option>
                                <option selected>Size</option>
                                <option>Temperature</option>
                                <option>Fuel Price</option>
                                <option>MarkDown1</option>
                                <option>MarkDown2</option>
                                <option>MarkDown3</option>
                                <option>MarkDown4</option>
                                <option>MarkDown5</option>
                                <option>CPI</option>
                                <option>Unemployment</option>
                                <option>IsHoliday</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="well clearfix">
        <div class="btn-group pull-right">
            <a href="project/PROJECT-UUID/import" class="btn btn-danger">Cancel</a>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
    
</div>