<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Dateset</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="project/PROJECT-UUID/model">Walmart Model (KNN)</a></td>
            <td>Regression</td>
            <td>Kaggle Walmart Sales Forecasts</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Walmart Model (Random Forest)</td>
            <td>Regression</td>
            <td>Kaggle Walmart Sales Forecasts</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Walmart Model (Linear Regression)</td>
            <td>Regression</td>
            <td>Kaggle Walmart Sales Forecasts</td>
        </tr>
        <tr>
            <td>4</td>
            <td>HW Digit (KNN)</td>
            <td>Classification</td>
            <td>Kaggle Handwritten Digit Comp</td>
        </tr>
        <tr>
            <td>5</td>
            <td>HW Digit (Random Forest)</td>
            <td>Classification</td>
            <td>Kaggle Handwritten Digit Comp</td>
        </tr>
        <tr>
            <td>6</td>
            <td>HW Digit (Linear Regression)</td>
            <td>Classification</td>
            <td>Kaggle Handwritten Digit Comp</td>
        </tr>
    </tbody>
</table>