<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="index">Dashboard</a></li>
                <li class="active"><a href="dataset">Datasets</a></li>
                <li><a href="models">Models</a></li>
                <li><a href="tasks">Tasks</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Kaggle Walmart Sales Forecasts</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#features" role="tab" data-toggle="tab">Features</a></li>
            <li><a href="#dataset" role="tab" data-toggle="tab">Training Data</a></li>
            <li><a href="#dataset" role="tab" data-toggle="tab">Validation Data</a></li>
            <li><a href="#import" role="tab" data-toggle="tab">Importers</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="features">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                <tr class="info">
                                    <td>1</td>
                                    <td>Store</td>
                                    <td>Primary Key</td>
                                </tr>
                                <tr class="info">
                                    <td>2</td>
                                    <td>Dept</td>
                                    <td>Primary Key</td>
                                </tr>
                                <tr class="danger">
                                    <td>16</td>
                                    <td>Weekly Sales</td>
                                    <td>Target / Output Feature</td>
                                </tr>
                                <tr class="success">
                                    <td>3</td>
                                    <td>Date</td>
                                    <td>Date</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Type</td>
                                    <td>Category</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Size</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Temperature</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Fuel Price</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>MarkDown1</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>MarkDown2</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>MarkDown3</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>MarkDown4</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>MarkDown5</td>
                                    <td>Currency</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>CPI</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Unemployment</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>IsHoliday</td>
                                    <td>Boolean</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">

                        <br />

                        <div class="well clearfix">
                            <dl class="dl-horizontal">
                                <dt>Feature Type</dt>
                                <dd>Date</dd>

                                <dt>Range</dt>
                                <dd>January 1st, 1980 to February 8th, 2013</dd>

                                <dt>Incomplete</dt>
                                <dd>0 (0.0%)</dd>

                                <dt>Duplicate</dt>
                                <dd>20 (20.0%)</dd>
                            </dl>
                        </div>

                        <div class="well clearfix">
                            
                            <form role="form">

                                <div class="form-group">
                                    <label for="form-dateFormat">Feature Name</label>
                                    <input type="text" class="form-control" id="form-dateFormat" placeholder="Enter name for this feature" value="Date">
                                </div>

                                <div class="form-group">
                                    <label for="form-fieldType">Field Type</label>
                                    <select id="form-fieldType" class="form-control">
                                        <option>Date</option>
                                        <option>Time</option>
                                        <option>Number</option>
                                        <option>String</option>
                                        <option>Primary Key</option>
                                        <option>Zip Code</option>
                                        <option>City</option>
                                        <option>County</option>
                                        <option>State</option>
                                        <option>Country</option>
                                        <option>Target / Output Feature</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="form-dateFormat">Date Format</label>
                                    <input type="text" class="form-control" id="form-dateFormat" placeholder="Enter a date formatting string for this date feature" value="YYYY-MM-DD">
                                </div>

                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>

                                <div class="btn-group pull-left">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="dataset">
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <th class="info">Store</th>
                                <th class="info">Dept</th>
                                <th class="danger">Weekly Sales</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Size</th>
                                <th>Temperature</th>
                                <th>Fuel Price</th>
                                <th>MarkDown1</th>
                                <th>MarkDown2</th>
                                <th>MarkDown3</th>
                                <th>MarkDown4</th>
                                <th>MarkDown5</th>
                                <th>CPI</th>
                                <th>Unemployment</th>
                                <th>IsHoliday</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-05</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>42.31</td>
                                    <td>$2.572</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.0963582</td>
                                    <td>8.106</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">1</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2010-02-12</td>
                                    <td>1</td>
                                    <td>200898</td>
                                    <td>38.51</td>
                                    <td>$2.548</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>211.2421698</td>
                                    <td>8.106</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">1</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-20</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>65.69</td>
                                    <td>$3.877</td>
                                    <td>$7311.02</td>
                                    <td>$2236.2</td>
                                    <td>$33.53</td>
                                    <td>$878.07</td>
                                    <td>$4080.32</td>
                                    <td>221.2021074</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">2</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-04-27</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>67.2</td>
                                    <td>$3.814</td>
                                    <td>$3076.68</td>
                                    <td></td>
                                    <td>$38.32</td>
                                    <td>$108.71</td>
                                    <td>$2708.9</td>
                                    <td>221.255812</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">2</td>
                                    <td class="info">3</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-05-04</td>
                                    <td>3</td>
                                    <td>37392</td>
                                    <td>76.73</td>
                                    <td>$3.749</td>
                                    <td>$23731.47</td>
                                    <td></td>
                                    <td>$78.09</td>
                                    <td>$7931.42</td>
                                    <td>$4443.52</td>
                                    <td>221.3095166</td>
                                    <td>6.891</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="info">4</td>
                                    <td class="info">7</td>
                                    <td class="danger">$24924.50</td>
                                    <td>2012-08-03</td>
                                    <td>2</td>
                                    <td>42988</td>
                                    <td>83.86</td>
                                    <td>$3.374</td>
                                    <td>$29127.2</td>
                                    <td>$42.27</td>
                                    <td>$58.34</td>
                                    <td>$22663.73</td>
                                    <td>$10925.99</td>
                                    <td>130.737871</td>
                                    <td>4.077</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="import">
                
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>kaggle-train.csv</td>
                                    <td>CSV</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>kaggle-test.csv</td>
                                    <td>CSV</td>
                                </tr>
                                <tr class="success">
                                    <td>3</td>
                                    <td>kaggle-stores.csv</td>
                                    <td>CSV</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>kaggle-features.csv</td>
                                    <td>CSV</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">

                        <br />

                        <div class="well clearfix">
                            <dl class="dl-horizontal">
                                <dt>Importer</dt>
                                <dd>stores.csv</dd>

                                <dt>Type</dt>
                                <dd>CSV</dd>

                                <dt>Dataset</dt>
                                <dd>Validation</dd>

                                <dt>Status</dt>
                                <dd>202 OK</dd>

                                <dt>Columns</dt>
                                <dd>3 / 3</dd>

                                <dt>Records</dt>
                                <dd>40,000 / 40,000 (100.00%)</dd>
                            </dl>
                        </div>

                        <div class="well clearfix">
                            
                            <form role="form">

                                <div class="form-group">
                                    <label for="form-dateFormat">Importer Name</label>
                                    <input type="text" class="form-control" id="form-dateFormat" placeholder="Enter name for this importer" value="kaggle-stores.csv">
                                </div>

                                <div class="form-group">
                                    <label for="form-fieldType">Type</label>
                                    <select id="form-fieldType" class="form-control">
                                        <option>CSV</option>
                                        <option>JSON</option>
                                        <option>Mongo</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="form-dateFormat">Dataset</label>
                                    <select id="form-fieldType" class="form-control">
                                        <option>Training</option>
                                        <option selected>Validation</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="form-dateFormat">URL</label>
                                    <input type="text" class="form-control" id="form-dateFormat" placeholder="Enter url to access csv" value="http://example.com/data.csv">
                                </div>

                                <div class="btn-group pull-right">
                                    <a data-toggle="tab" role="tab" href="#configure" class="btn btn-info">Configure</a>
                                    <button type="button" class="btn btn-primary">Run</button>
                                </div>

                                <div class="btn-group pull-left">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="configure">

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <th>Column</th>
                                <th>Header</th>
                                <th>Sample</th>
                                <th>Feature</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Store</td>
                                    <td>1</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Store</option>
                                            <option>Dept</option>
                                            <option>Date</option>
                                            <option>Type</option>
                                            <option>Size</option>
                                            <option>Temperature</option>
                                            <option>Fuel Price</option>
                                            <option>MarkDown1</option>
                                            <option>MarkDown2</option>
                                            <option>MarkDown3</option>
                                            <option>MarkDown4</option>
                                            <option>MarkDown5</option>
                                            <option>CPI</option>
                                            <option>Unemployment</option>
                                            <option>IsHoliday</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Type</td>
                                    <td>1</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Store</option>
                                            <option>Dept</option>
                                            <option>Date</option>
                                            <option selected>Type</option>
                                            <option>Size</option>
                                            <option>Temperature</option>
                                            <option>Fuel Price</option>
                                            <option>MarkDown1</option>
                                            <option>MarkDown2</option>
                                            <option>MarkDown3</option>
                                            <option>MarkDown4</option>
                                            <option>MarkDown5</option>
                                            <option>CPI</option>
                                            <option>Unemployment</option>
                                            <option>IsHoliday</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Size</td>
                                    <td>151315</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Store</option>
                                            <option>Dept</option>
                                            <option>Date</option>
                                            <option>Type</option>
                                            <option selected>Size</option>
                                            <option>Temperature</option>
                                            <option>Fuel Price</option>
                                            <option>MarkDown1</option>
                                            <option>MarkDown2</option>
                                            <option>MarkDown3</option>
                                            <option>MarkDown4</option>
                                            <option>MarkDown5</option>
                                            <option>CPI</option>
                                            <option>Unemployment</option>
                                            <option>IsHoliday</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="well clearfix">
                    <div class="btn-group pull-right">
                        <a data-toggle="tab" role="tab" href="#import" class="btn btn-danger">Cancel</a>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>