<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="index">Dashboard</a></li>
                <li><a href="dataset">Datasets</a></li>
                <li class="active"><a href="models">Models</a></li>
                <li><a href="tasks">Tasks</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Models</h1>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Dateset</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="model">Walmart Model (KNN)</a></td>
                            <td>Regression</td>
                            <td>Kaggle Walmart Sales Forecasts</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Walmart Model (Random Forest)</td>
                            <td>Regression</td>
                            <td>Kaggle Walmart Sales Forecasts</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Walmart Model (Linear Regression)</td>
                            <td>Regression</td>
                            <td>Kaggle Walmart Sales Forecasts</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>HW Digit (KNN)</td>
                            <td>Classification</td>
                            <td>Kaggle Handwritten Digit Comp</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>HW Digit (Random Forest)</td>
                            <td>Classification</td>
                            <td>Kaggle Handwritten Digit Comp</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>HW Digit (Linear Regression)</td>
                            <td>Classification</td>
                            <td>Kaggle Handwritten Digit Comp</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>